<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../css/estilos.css">
	<link rel="stylesheet" href="../../css/style.css">
	<title></title>
</head>
<body>
	<div class="icono"><span class="icon-uniF7D5"></span>Descargar</div>
	<div class="icono"><span class="icon-uniF78D"></span>Facebook</div>
	<div class="icono"><span class="icon-uniF78C"></span>Twitter</div>
	<div class="icono"><span class="icon-uniF78B"></span>Google+</div>
	<div class="icono"><span class=""></span></div>
	<div class="icono"><span class="icon-uniF77E"></span>Teléfono</div>
	<div class="icono"><span class="icon-uniF792"></span></div>
	<div class="icono"><span class="icon-uniF73A"></span>Carpeta</div>
	<div class="icono"><span class="icon-uniF67A"></span>Alarma</div>
	<div class="icono"><span class="icon-uniF69A"></span>Botón buscar</div>
	<div class="icono"><span class="icon-uniF69B"></span>Botón configuración</div>
	<div class="icono"><span class="icon-uniF5E2"></span>Dolar</div>
	<div class="icono"><span class="icon-uniF61B"></span>Escritorio1</div>
	<div class="icono"><span class="icon-uniF784"></span>Escritorio2</div>
	<div class="icono"><span class="icon-uniF5CE"></span>Usuario</div>
	<div class="icono"><span class="icon-uniF4E7"></span>Billete</div>
	<div class="icono"><span class="icon-uniF54D"></span>Buscar usuario</div>
	<div class="icono"><span class="icon-uniF54F"></span>Cliente</div>
	<div class="icono"><span class="icon-uniF55B"></span>Comenzar</div>
	<div class="icono"><span class="icon-uniF55C"></span>Parar</div>
	<div class="icono"><span class="icon-uniF55D"></span>Pausar</div>
	<div class="icono"><span class="icon-uniF580"></span>Logo</div>
	<div class="icono"><span class="icon-uniF470"></span>Eliminar</div>
	<div class="icono"><span class="icon-uniF471"></span>Checked</div>
	<div class="icono"><span class="icon-uniF472"></span>Izquierda</div>
	<div class="icono"><span class="icon-uniF473"></span>Derecha</div>
	<div class="icono"><span class="icon-uniF474"></span>Arriba</div>
	<div class="icono"><span class="icon-uniF475"></span>Abajo</div>
	<div class="icono"><span class="icon-uniF476"></span>Más</div>
	<div class="icono"><span class="icon-uniF477"></span>Menos</div>
	<div class="icono"><span class="icon-uniF478"></span>Elinimar</div>
	<div class="icono"><span class="icon-uniF479"></span>Checked</div>
	<div class="icono"><span class="icon-uniF47C"></span>Editar</div>
	<div class="icono"><span class="icon-route"></span>Logo</div>
	<div class="icono"><span class="icon-speed"></span>Escritorio</div>
	<div class="icono"><span class="icon-searchdocument"></span>Buscar</div>
	<div class="icono"><span class="icon-cupcake"></span>Cumpleaños</div>
	<div class="icono"><span class="icon-uniF006"></span>Escritorio</div>
	<div class="icono"><span class="icon-uniF00F"></span>Configuración</div>
	<div class="icono"><span class="icon-affiliate"></span>Asiciado</div>
	<div class="icono"><span class="icon-link"></span>Link</div>
	<div class="icono"><span class="icon-email"></span>Email</div>
	<div class="icono"><span class="icon-barchart"></span>Gráfica</div>
	<div class="icono"><span class="icon-socialnetworking"></span>Reunión/Revición</div>
	<div class="icono"><span class="icon-contact"></span>Contacto</div>
	<div class="icono"><span class="icon-filter"></span>Filtro</div>
	<div class="icono"><span class="icon-phpbb"></span>Clientes</div>
	<div class="icono"><span class="icon-calendar2"></span>Calendario</div>
	<div class="icono"><span class="icon-piwigo"></span>Foto de perfil</div>
	<div class="icono"><span class="icon-rawaccesslogs"></span>Registro</div>
	<div class="icono"><span class="icon-Documento"></span></div>
	<div class="icono"><span class="icon-spreadsheet"></span>hoja de calculo/Factura</div>
	<div class="icono"><span class="icon-search"></span>Buscar</div>
	<div class="icono"><span class="icon-trash"></span>Papelera</div>
	<div class="icono"><span class="icon-diskspace2"></span>Cronograma</div>
	<div class="icono"><span class="icon-edit2"></span>Registro</div>
	<div class="icono"><span class="icon-upload"></span>Subir</div>
	<div class="icono"><span class="icon-print"></span>Imprimir</div>
	<div class="icono"><span class="icon-avatar"></span>Avatar</div>
	<div class="icono"><span class="icon-avatar2"></span>Avatar2</div>
	<div class="icono"><span class="icon-linkedin"></span>Linkedin</div>
	<div class="icono"><span class="icon-path"></span>Path</div>
	<div class="icono"><span class="icon-place"></span>Lugar</div>
	<div class="icono"><span class="icon-calculator"></span>Calculadora</div>
	<div class="icono"><span class="icon-gift"></span>Cumpleaño</div>
	<div class="icono"><span class="icon-preview"></span>Vista previa</div>
	<div class="icono"><span class="icon-officechair"></span>Oficina</div>
	<div class="icono"><span class="icon-paperclip"></span>Adjuntar</div>
	<div class="icono"><span class="icon-triangle"></span>Escuadra</div>
	<div class="icono"><span class="icon-uniF64E"></span>Proyectos</div>
	<div class="icono"><span class="icon-uniF53D"></span>Proyectos</div>
	<div class="icono"><span class=""></span></div>
	<div class="icono"><span class=""></span></div>
	<div class="icono"><span class=""></span></div>
	<div class="icono"><span class=""></span></div>
</body>
</html>